// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
  margin-top: 30px;
  margin-left: 30px;
}

h3 {
  margin-top: 30px;
  margin-left: 30px;
}

h6 {
  margin-top: 30px;
  margin-left: 30px;
}

table {
  width: 800px;
  margin-left: 30px;
}

tbody {
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}

th {
  font-size: 13px;
}

div {
  margin-top: 30px;
  margin-left: 60px;
  font-size: 13px;
}

.flash {
  margin-top: 30px;
  margin-left: 60px;
  font-size: 13px;
  color: #008000;
}

