// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 30px;
  line-height: 18px;
}

table {
  margin-top: 20px;
  margin-bottom: 10px;
ã€€font-size: 13px;
  line-height: 18px;
}

th {
  padding: 1px 1px 5px;
}

td {
  padding: 1px 5px 7px;
}

.new-book {
  margin-top: 15px;
  font-size: 13px;
  line-height: 18px;
}

.new-book-title {
  margin: 0px 0px  10px;
}

.new-book-body {
  margin: 0px 0px  10px;
}

p {
  font-size: 13px;
  line-height: 18px;
}

.title {
  margin: 33px;
}

.body {
  margin: 33px;
}

.link {
  margin-top: 10px;
}

.flash {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 13px;
  color: #008000;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #f0f0f0;


 h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
 }

 ul  {
  display: block;
  margin: 33px;
  font-size: 12px;
  list-style: square;
  }
}